
/* fonte global do site start */
body {

    font-family: 'Roboto', sans-serif;
}

.color-text {
    color: #328736;
}

.color-text2 {
    color: #7EC100;
}

h2 {
    color: #328736;
    text-align: center;
}

.logo-navbar {
    max-width: 150px;
    border-radius: 10%;
    margin-right: 100px;
    margin-left: 100px;
}

.logo-navbar-mobile {
    max-width: 90px;
    border-radius: 10%;
}

.bg-image {
    background-image: url('../img/Rectangle\ 14.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 13%;
}

.conteudo-header {
    margin-top: 10%;
    margin-bottom: 2%;
}

.conteudo-header p {
    text-align: center;
    font-size: 50px;

}

.navbar-collapse {
    margin-top: 35px;
}

.nav-link{
    font-size: 25px;
}

.texto-nav {
    padding-top: 57px;
    margin-right: 10px;
    margin-left: 10px;
}

@media (max-width: 991.98px) {
    .texto-nav {
        padding-top: 10px;
    }
}
/* header end*/

/* sobre start */

.bg-sobre-nos {
    background-image: url('../img/test.png');
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 10%;

    padding-bottom: 5%;
}

@media (max-width: 767.98px) {
    .bg-sobre-nos {
        background-position: top 10% right;
        background-size: 130%;
    }
}

.producao {
    width: 70%;
    margin: 0 auto;
}

.conteudo-sobre {
    /* max-width: 560px; */
    text-align: left;
}

/* sobre end */

/* produção start */
.producao {
    width: 70%;
    margin: 0 auto;
}
.icones-producao{
    display: flex;
    justify-content: space-around;
}
/* produção end */

/* produtos start */
.nossos-produtos{
    padding-top: 2%;
}
.nossos-produtos h2{
    padding-bottom: 2%;
}
#products-container img {
    margin-bottom: 10px;
}



.descricao-produtos span{
    color: #328736;
   position: absolute;
   bottom: 5%;
   padding: 1%;
   background: rgba(255,255,255, 0.9);
    border: 1px solid rgba(255,255,255,0.95);
   

}

#exampleModalLongTitle{
    color: #328736;
}
.btn-produtos{
    background-color: #328736;
    border: #328736;
}
.btn-produtos:hover{
    background-color:#7EC100
}
.descricao-produtos {
    color: #328736;
    width: 90%;
   
    bottom: 5%;
    left: 5%;
    padding: 1%;
    /* background: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.95); */
    font-weight: 300;
    font-size: 20px;
    padding-left: 10%; 
}

.infos-lightbox{
    color: #328736;
}

.btn-secondary{
    background-color: #328736;
}

/* depoimentos start */
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}

.carousel-inner {
    min-height: 200px;
}
@media (max-width: 991.98px){
    .carousel-inner {
        min-height: 250px;
    }
}
@media (max-width: 575.98px){
    .carousel-inner {
       min-height: 400px;
    }
}

.depoimento-item {
    color: #328736;
    padding-left: 15% !important;
    padding-right: 15% !important;
}

.depoimento-item p {
    font-size: 20px;
    font-style: italic;
    font-weight: lighter;
}

.depoimento-item .cliente-nome {
    float: right;
}

.strong-quote {
    font-weight: bold;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    height: 150px !important;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 30px;
  color: #328736;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  color: #328736;
}
/* depoimentos end */

/* contato/footer start*/
.bg-contato {
    background-image: url("../img/image\ 12.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-position-y: bottom;
    padding-top: 6%;
    padding-bottom: 3%;

}

.botao-email{
    margin-top: 45px;
    margin-bottom: 35px;
}

.botao-email a {
    background-color: #7EC100;
    color: #ffffff;
    border-radius: 50px;
    text-align: center;
    font-size: 15px;
    box-shadow: 1px 1px 2px #888888;
    padding: 10px 25px;
    font-size: 20px;
}
.botao-email a:hover {
    color:  #328736;
}





.botao-socialmedia a{
    background-color: #7EC100;
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    box-shadow: 1px 1px 2px #888888;
    border-radius: 210px;
    padding: 10px 15px;
    
  
}
.botao-socialmedia a:hover{
    color:  #328736;
    
  
}

.botao-socialmedia a i{
min-width: 40px;

}


.botao-whatsapp a {
    width: 300px;
    height: 40px;
   
    right: 20px;
    background-color: #7EC100;
    color: #ffffff;
    border-radius: 50px;
    text-align: center;
    font-size: 15px;
    box-shadow: 1px 1px 2px #888888;
    z-index: 1000;
    padding: 10px 25px;
    font-weight: bold;
    font-size: 20px;
}
.botao-whatsapp a:hover {
    color: #328736
}

.botao-whatsapp a i {
    margin-top: 14px; 
    margin-bottom: 14px;
}

.botao-whatsapp a i span {
   font-family: 'Roboto', sans-serif;
}

.footer h2{
    padding-bottom: 2%;
}
.span-footer {
    font-size: 16px;
    margin-top: 64px;
    margin-bottom: 0px;
}
