body{

    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

#section-sobre{
    /* padding: 100px; */
    

}
.bg-sobre-nos{
    background-image: url('../img/test.png');
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    /* background-size: cover; */

    padding-top: 10%;
    padding-bottom: 10%;
  
}

@media (max-width: 767.98px) { 
    .bg-sobre-nos{
        background-position: top 10% right;
        background-size: 130%;
    }
}

.conteudo-sobre{
    /* max-width: 560px; */
    text-align: left;
    
}
.color-text{
    color: #328736;
    text-align: center;
}

.row{
    flex-wrap: wrap !important;
    margin-right:0 !important;
    margin-left:0 !important;
}

.producao{
    width: 70%;
    margin: 0 auto;
}

.produtos{
    margin: 0 auto;
} 

.icones-producao{
    display: flex;
    justify-content: space-around;
}

.card-text{
    text-align: center;
    font-size: 11px;
}

.text-producao{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imagem{
    width: 100%;
    height: 100%;
}

.container-img-produtos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.produtos-grd{
    width: 80%;
}

.produtos-pqn{
    width: 80%;
}

/* .tamanho-card{
    margin-top: 20px;
} */

@media(min-width: 768px){
    .container-img-produtos{
    flex-direction: row;
    width: 60%;
    margin: 0 auto;
    }
    .produtos-grd{
        width: 60%;
        height: 100vh;
    }
    .produtos-pqn{
        width: 40%;
        height: 100vh;
    }
    .produtos-pqn2{
        height: 50%;
        display: flex;
    }
    /* .tamanho-card{
        margin-top: 0;
    } */
}




