body{

    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

#section-sobre{
    /* padding: 100px; */
    

}
.bg-sobre-nos{
    background-image: url('../img/test.png');
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    /* background-size: cover; */

    padding-top: 10%;
    padding-bottom: 10%;
  
}

@media (max-width: 767.98px) { 
    .bg-sobre-nos{
        background-position: top 10% right;
        background-size: 130%;
    }
}

.conteudo-sobre{
    /* max-width: 560px; */
    text-align: left;
    
}
.color-text{
    color: #328736;
}

/* Alterações das área de Produção e Produtos */
.img-gd1{
    width: 480px;
    height: 450px;
}

.cards-produtos{
    width: 500px;
    height: 500px;
}

img {
    vertical-align: middle;
    border-style: none;
    width: 110px;
}

.cards-descricao{
    display: flex;
    flex-direction: row;
}

.produtos_container{
    display: flex;
    flex-direction: row;
    width: 800px;
    margin: 0 auto;
}

.row{
    flex-wrap: wrap !important;
    margin-right:0 !important;
    margin-left:0 !important;
}

.producao{
    max-width: 100vw;
    width: 100%;
    background-image: url("../img/img-produtos/img-fundo-producao.JPG");
}

.producao > img {
    width: 100%;
    height: 289px;
    background-repeat: no-repeat;
}

.produtos{
    margin: 0 auto;

    background-image: url("../img/img-produtos/img-fundo.JPG");
} 

.produtos > img {
    width: 100%;
    height: 289px;
    background-repeat: no-repeat;
}

.img-responsive{
    width: 100%;
}

.imagemGrande{
    width: 60%;
}

.img-grande{
    width: 100%;
}

.boots_1{
    width: 50%;
}

.bootstraps {
    width: 40%;
    height: 500px;
}

.icones-producao{
    display: flex;
    justify-content: space-around;
}

.card-text{
    text-align: center;
    font-size: 11px;
}

.text-producao{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Responsividade das imagens dos produtos */
@media (max-width: 768px){
    .produtos_container{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
}



